*{margin: 0;}
body {
	background: url(Imagenes/fondo.png);
	background-repeat: repeat;
}
#membrete{
	width: 1024px;
	height: auto;
	margin: auto auto;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #330033;
	font-family: "LiberatorRegular",sans-serif;

}
.logo2{
	width: 25%;
	height: 100px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}
#logor{
	width: 250px;
	height: 100px;
}
.titulo{
	width: 300px;
	height: 30px;
	color: #FFCC33;
	margin-top: -50px;
	margin-left: 250px;

}
/*INDEX DE REPORTESS*/

#reportes{
    width: 70%;
    height: auto;
    /*height: 300px;*/
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background: url(Imagenes/fondorepor.png);
    box-shadow: 5px 5px 5px #000000;
    padding: 10px;

}

#historial{
	background-color: #800000;
	width: 40%;
	height: 30px;
	border-radius: 10px;
	color: #FFCC33;
	font-family: "LiberatorRegular",sans-serif;
	padding: 2px;


}

#novisto, #tnovisto, #mnovisto, #chnovisto, #pnovisto{
	width: 15px;
	height: 15px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}
#visto, #tvisto, #mvisto, #chvisto, #pvisto{
	width: 15px;
	height: 15px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.ver{
	background-color: #800000;
	width: 50%;
	height: 30px;
	border-radius: 10px;
	color: #FFCC33;
	font-family: "LiberatorRegular",sans-serif;
	padding: 2px;
	margin-top: 10px;
}
#selectiempo, #selectmesonero, #selectchef, #selectplato{
	height: 50px;
	width: 80%;
	
	margin-top: 10px;
	margin-left: 20px;
}
ul.filtrar li{
	list-style: none;
}

#anos{
  text-align: center;
}
#ver{
	width: 22px;
	height: 22px;
	float: right;
	margin-right: 150px;
	margin-top: -22px;
	 
}
#verm, #verp, #verch{
	width: 22px;
	height: 22px;
	float: right;
	margin-right: 350px;
	margin-top: -22px;
	 
}
#verch{
	margin-right: 400px;	 
}

/*REPORTESS LISTOS*/
.botones{
   position: relative;
    text-align: right;
    float: left;
    width: 100%;    
    top: -400px;
    right: -30px;
}
button.CSV{
	position:relative;	
	background-color:transparent;
	border:transparent;	
}
form.exportar{
	position: absolute;
	width: 25px;
	height: 25px;
	right: -20px;
	top: 0px;	
}
#imprimir, #pdf, #csv{

	width: 25px;
	height: 25px;
	;
}

#imprimir:active , #pdf:active , #csv:active {

	width: 25px;
	height: 25px;
	zoom: 500%;
	opacity: 0.5;
}
#cuerpo{
	width: 1024px;
	height: auto;
	margin: auto auto;
	margin-top: 20px;
	color: #330033;
	font-family: "LiberatorRegular",sans-serif;
}
.titulo2{
	text-align: center;
}






/*******ESTILO DE TABLA NUEVO*/
div.gestion_usuario{
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 900px;
	height: 395px;

}

div.tabla_cabecera{
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	width: 900px;
	height: 85px;
	text-align: center;
}
div.tabla_cabecera img{
	margin-top: 10px;
}
.tabla_cabecera strong{
	margin-left: 350px;
}
#info{
	float: right;
	color: orange;
	margin-right: 400px;
}
.total{
	position: absolute;
	bottom: -5%;
	margin-left: 50px;
	margin-top: 10px
	
}
#t{
	color: orange;
}
div.botones_gestion{
   float: right;
   margin-right: auto;
   margin-left: auto;
   margin-top: auto;
}



li{
	list-style: none;	
}

.container{
	position: relative;
	left: -40px;
	border-radius: 10px;
	width: 900px;
	height: 250px;
	padding: 20px;
}
.container img{
	margin-left: 50px;
	margin-top: -5px;
}
.titulos{
	position: absolute;
	left: -5px;
	top: -20px;
}


.titulos label{
	
	display: inline-block;
	color: orange;
	font-family: "Cambria";
	font-size: 14px;
	text-align: center;
	padding-bottom: 4px;
	margin-left: -10px;
}

.titulosp{
	position: absolute;
	left: -5px;
	top: -20px;
}


.titulosp label{
	
	display: inline-block;
	color: orange;
	font-family: "Cambria";
	font-size: 14px;
	text-align: center;
	padding-bottom: 2px;
	margin-left: 20px;
}

.content label{
	display: inline-block;
	text-align:center;
	margin-right: 4px;
}
#mesonero{
	
	width: 80px;
}
#chef{
	width: 80px;
}
#dia{
	width: 20px;
	margin-left: -10px;
}
#fecha{
	width: 80px;
	margin-left: -10px;
}
#orden{

	width: 80px;
	margin-left: -10px;
}
#plato1, #plato2, #plato3, #plato4, #plato5{
	
	width: 100px;
	margin-left: -10px;
}
#platosp{
	width: 200px;
	
}
#diap{
	width: 150px;
	
}
#fechap{
	width: 150px;
	
}
#ordenp{

	width: 150px;
	
}
#cantidadp{

	width: 150px;

}
#gris{

	background-color:rgb(195,195,195);
}
.page_navigation{
	
	position: absolute;
	bottom: -8%;
	left: 700px;
}
.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#DB5C04;
}
.active_page{
	background-color:white !important;
	color:black !important;
}	
.content li{
	font-size: 13px;
	padding: 5px;
	width:100%;

}


.titulos{
	margin-left: 90px;
}

footer{
	width: 1024px;
	height: auto;
	margin: auto auto;
	text-align: center;
	margin-top: 20px;
	color: #FFCC33;
}
.atras{
	margin-left: 400px;
	margin-top: 20px;

}
#atras{
	border-radius: 10px;
}

@media screen and (max-width: 400px){

body{
 overflow-x: hidden;
		
}

.titulo{
	margin-top: -10px;
	margin-left: 0px;
}
.filtro{
	width: 10%;
	display: inline-block;
	height: auto;
	
}
#reportes{
	width: 70%;
	display: inline-block;
	height: auto;
}
#selectiempo{
	width: 30%;
	height: auto;
}
#ver, #verm, #verch, #verp{
	float: none;
	margin-top: 10px;
	width: 50px;
}
.caja{
	width: 70%;
	display: inline-block;
	height: auto;
}
.nombre{
	width: 10%;
	

}
.orden{
	width: 30%;
}
.orden p{
	margin-top: 0px;
}
.nombre p{
	font-size: 12px;
} 
#info{
	float: none;
	margin: auto;
	font-size: 12px;
	
}
#info2, #info3{
	float: none;
	margin: auto;
	font-size: 12px;
	
}

.titulo2{
	text-align: left;
	margin-left: 25px;
}
.botones{
 float: none;
     text-align: left;
     margin-left: auto;
}
footer{
		width: 400px;
	text-align: center;
}
}