body {
	color: #000000;
	font: 100%/150% Georgia, "Times New Roman", Times, serif;
	text-align: left;
}
.botones{
	display: none;
}
p a:after {
	content: " ";
	font-size: 80%;
}
p a[href^="#"]:after {
	display: none;
}
p a {
	word-wrap: break-word;
}
a {
	color: #000;
}
.atras{
	display: none;
	position: absolute;	
	top: 45%;
}
footer{
	position: relative;
	bottom: -12%;
}
.page_navigation{
	display: none;
position: absolute;
bottom: -50%;

}
.total{
	position: relative;
	bottom: -8%;
}
